({
    "idle": File (
        path: "characters/models/rogue-turned.glb#Animation36",
    ),
		"interact": File (
			path: "characters/models/rogue-turned.glb#Animation37"
		),
		"run": File (
			path: "characters/models/rogue-turned.glb#Animation48"
		),
})
